html {
font-size: 1rem;
line-height: 1.5;
}


body {
font-size: 1rem;
font-family: 'Courier New', Courier, monospace, sans-serif;
margin: 0;
padding: calc(1rem * 1.5);
background: white;
color: #000000;
display: flex;
flex-direction: column;
align-items: center;
}



.header-text {
font-size: 1.5rem;
margin-bottom: calc(1rem * 2);
width: 100%;
text-align: center;
}



.art {
width: 90%;
max-width: 900px;
margin-bottom: calc(1rem * 2);
}


.art img {
width: 100%;
height: auto;
border-radius: calc(1rem * 0.5);
}



.options {
display: flex;
justify-content: center;
gap: calc(1rem * 3);
margin-top: calc(1rem * 2);
}


a.button {
font-size: 1rem;
padding: calc(1rem * 1.5) calc(1rem * 3);
background: #830000;
color: white;
text-decoration: none;
border-radius: calc(1rem * 0.5);
}


a.button:hover {
background: #ff0303;
}


/* Media Query */
@media (max-width: 600px) {
.header-text { font-size: 1.2rem; }
a.button { font-size: 0.9rem; padding: calc(1rem * 1) calc(1rem * 2); }
}