html {
  font-size: 1rem; /* Root scaling */
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  font-size: 0; /* required */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container {
  position: relative;
  width: 20rem;
  height: 20rem;
}

#circular-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Futura", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  background: transparent;
  border: 2px solid var(--red);
  color: var(--red);
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: var(--red);
  color: #000;
}
